/* to make these 2 fit in single row/block */
#bloodgroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bloodLabel{
    margin-right: 260px;
    white-space: nowrap;
}